name: Deploy to PyPI

env:
  PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare project
        run: |
          python -m pip install --upgrade pip
          python -m pip install pip-tools
          pip-compile pyproject.toml
          pip-sync
      - name: Deploy project
        run: |
          python -m pip install build twine
          python -m build
          python -m twine check dist/*
          python -m twine upload dist/* -u __token__ -p ${{ env.PYPI_TOKEN }}
